@model IEnumerable<gestaoIpg.Models.Tarefa>

@{
    ViewData["Title"] = "Index";
}

    <div class="container">
        <h2>Lista Tarefas</h2>
        <p>
            <a  class="btn btn-success" asp-action="Create">Nova Tarefa</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DescricaoTarefa)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoTarefa)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.TarefaId">Editar</a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TarefaId">Detalhes</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TarefaId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>