@model gestaoIpg.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container" style="color:black">
        <h2>Eliminar Funcionário</h2>

        <h3>Tem a certeza que pretende eliminar este funcionário?</h3>
        <div>
  
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Morada)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Morada)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telemovel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telemovel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cargo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cargo.NomeCargo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Departamento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departamento.Tipo)
                </dd>
            </dl>
            </div>
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="FuncionarioId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                <a asp-action="Index">Voltar para a lista</a>
            </form>
        </div>
    </div>