@model gestaoIpg.Models.Funcionario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container" style="color:black">
        <h2>Detalhes Funcionário</h2>

        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Morada)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Morada)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telemovel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telemovel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cargo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cargo.NomeCargo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Departamento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departamento.Tipo)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.FuncionarioId" class="btn btn-warning">Editar</a> |
            <a asp-action="Index">Voltar para a lista</a>
        </div>
    </div>