@model IEnumerable<gestaoIpg.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>Index</h2>

        <p>
            <a class="btn btn-success" asp-action="Create">Criar Funcionário</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Morada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telemovel)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="color:dimgrey">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Morada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telemovel)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.FuncionarioId">Edit</a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.FuncionarioId">Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.FuncionarioId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>