@*model FuncionarioViewModel<gestaoIpg.Models.Funcionario>*@

@model FuncionarioViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container" style="color:black">
        <h2>Lista dos Funcionários</h2>


        <p>
            <a asp-action="Create" class="btn btn-success">Inserir novo Funcionário</a>
        </p>
    

        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">


                <div class="input-group-append">
                    @Html.TextBox("searchString", null, null, new { @class = "form-control bg-light border-0 small", @style = "border-readius: .35rem", @placeholder = "Procurar por nome" })
                    <button type="submit" class="btn btn-outline-info">
                        <i style="color:black" fas fa-sm">Pesquisar</i>
                    </button>&nbsp;
                    <a asp-action="Index" class="btn btn-outline-info">Voltar a lista inicial</a>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @*Html.DisplayNameFor(model => model.Funcionario.FirstOrDefault().Nome)*@
                        <h5>Nome</h5>
                    </th>
                   
                    <th>
                        <h5>Cargo</h5>
                    </th>
                    <th>
                        <h5>Departamento</h5>
                    </th>
                    <th>
                        @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" style=" color:black" class="btn btn-link">Ordenar por ordem alfabética</a>*@
                        @if (Model.CurrentSortOrder == "Nome")
                        {
                            <i class="btn btn-dark"></i>
                        }
                        else if (Model.CurrentSortOrder == "Nome_Desc")
                        {
                            <i class="btn btn-dark"></i>
                        }
                        @Html.ActionLink("Ordenar por Nome", "Index", new
                        {
                            sortOrder = ViewBag.NomeSortParm,
                            page = Model.CurrentPage,
                            searchString = Model.CurrentSearchString
                        }, new { @style = "color: black" })
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Funcionarios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Departamento.Tipo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.FuncionarioId" class="btn btn-warning">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.FuncionarioId" class="btn btn-info">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.FuncionarioId" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @for (int i = Model.FirstPageShow; i <= Model.LastPageShow; i++)
        {
            @if (i == Model.CurrentPage)
            {
                <!--<a href="#">@i</a>-->
                <!--<a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>-->
                <a href="#" class="btn btn-info">@i</a>
            }
            else
            {
                <a asp-action="Index" asp-route-page="@i" class="btn btn-dark">@i</a>

            }
        }
    

    </div>